@using System.Security.Claims
@model ChantingViewModel

@{
    ViewData["Title"] = "Sadhana History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Record Your Entry</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <form asp-action="RecordSadhana" method="post" class="row">
            <div class="p-3">
                <div class="form-floating py-1 col-12">
                    <input asp-for="Date" type="date" class="form-control border shadow" />
                    <label asp-for="Date" class="ms-2"></label>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="MorningRounds" type="number" class="form-control border shadow" />
                    <label asp-for="MorningRounds" class="ms-2">Chanted Rounds in the Morning (till 8am):</label>
                    <span asp-validation-for="MorningRounds" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="DayRounds" type="number" class="form-control border shadow" />
                    <label asp-for="DayRounds" class="ms-2">Chanted Rounds during the Day (8am to 6pm):</label>
                    <span asp-validation-for="DayRounds" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="EveningRounds" type="number" class="form-control border shadow" />
                    <label asp-for="EveningRounds" class="ms-2">Chanted Rounds in the Evening (after 6pm):</label>
                    <span asp-validation-for="EveningRounds" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="ReadingTitle" type="text" class="form-control border shadow" />
                    <label asp-for="ReadingTitle" class="ms-2">Reading Title:</label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="ReadingDurationInMinutes" type="number" class="form-control border shadow" />
                    <label asp-for="ReadingDurationInMinutes" class="ms-2">Reading Duration (in minutes):</label>
                    <span asp-validation-for="ReadingDurationInMinutes" class="text-danger"></span>
                </div>


                <div class="form-floating py-1 col-12">
                    <input asp-for="HearingTitle" type="text" class="form-control border shadow" />
                    <label asp-for="HearingTitle" class="ms-2">Hearing Title:</label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="HearingDurationInMinutes" type="number" class="form-control border shadow" />
                    <label asp-for="HearingDurationInMinutes" class="ms-2">Hearing Duration (in minutes):</label>
                    <span asp-validation-for="HearingDurationInMinutes" class="text-danger"></span>
                </div>


                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        What service did you do?
                    </button>
                    <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton">
                        @foreach (var serviceType in ViewBag.ServiceTypeList as List<SelectListItem>)
                        {
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input service-type-checkbox" type="checkbox"
                                           name="SelectedServiceTypeNames" value="@serviceType.Text"
                                           id="serviceType-@serviceType.Value">
                                    <label class="form-check-label" for="serviceType-@serviceType.Value">
                                        @serviceType.Text
                                    </label>
                                </div>
                            </li>
                        }


                    </ul>
                </div>

              
                <div class="form-floating py-1 col-12">
                    <input asp-for="CustomServiceTypeInput" type="text" class="form-control border shadow" />
                    <label asp-for="CustomServiceTypeInput" class="ms-2">Service Name(s):</label>
                </div>

                <div class="col-12 mt-1">
                    <i class="bi bi-info-circle" id="infoIconManageServices" style="cursor: pointer;"></i>
                    <small class="text-muted"> Click the icon for more information about Services Type.</small>
                    <div id="notesManageServices" style="display: none;">
                        <small class="text-muted">To add regular service types, use 'Manage Services' from the menu; they'll appear in the dropdown upon return. For occasional services, check 'Others' and enter details in the above text box. Either use Others or Drop down elements but not both for desired results.</small>
                    </div>
                </div>


                <div class="form-floating py-1 col-12">
                    <input asp-for="ServiceDurationInMinutes" type="number" class="form-control border shadow" />
                    <label asp-for="ServiceDurationInMinutes" class="ms-2">Service Duration (in minutes):</label>
                    <span asp-validation-for="ServiceDurationInMinutes" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <textarea asp-for="Notes" class="form-control border shadow" id="NotesTextArea"></textarea>
                    <label asp-for="Notes" class="ms-2">Notes</label>
                </div>
                <div class="col-12 mt-1">
                    <i class="bi bi-info-circle" id="infoIconNotes" style="cursor: pointer;"></i>
                    <small class="text-muted"> Click the icon for more information about Notes section.</small>
                    <div id="notesInfoText" style="display: none;">
                        <small class="text-muted">Use this space to explain any sudden jump/fall in sadhana, such as on Ekadashi, during sickness, etc.</small>
                    </div>
                </div>


                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Sadhana" asp-action="SadhanaHistory" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>  
    <script>
        function updateSelectedServiceTypes() {
            var selectedServiceTypes = $('.dropdown-menu .form-check-input:checked').map(function () {
                return this.value; // The value is the service type name
            }).get();

            var isOtherSelected = selectedServiceTypes.includes('Others');
            if (isOtherSelected) {
                $('#CustomServiceTypeInput').removeAttr('disabled');
                selectedServiceTypes = selectedServiceTypes.filter(val => val !== 'Others');
                $('#CustomServiceTypeInput').val(selectedServiceTypes.join('; '));
            } else {
                $('#CustomServiceTypeInput').val(selectedServiceTypes.join('; ')).attr('disabled', 'disabled');
            }
        }


        // function saveFormData() {
        //     var userId = @User.FindFirstValue(ClaimTypes.NameIdentifier);
        //     var selectedServiceTypes = $('#serviceTypesDropdown').val() || [];
        //     var selectedServiceTypeNames = selectedServiceTypes.map(function (id) {
        //         return $("#serviceTypesDropdown option[value='" + id + "']").text();
        //     }).join(';');


        //     var formData = {
        //         date: $('#Date').val(),
        //         morningRounds: $('#MorningRounds').val(),
        //         dayRounds: $('#DayRounds').val(),
        //         eveningRounds: $('#EveningRounds').val(),
        //         readingTitle: $('#ReadingTitle').val(),
        //         readingDurationInMinutes: $('#ReadingDurationInMinutes').val(),
        //         hearingTitle: $('#HearingTitle').val(),
        //         hearingDurationInMinutes: $('#HearingDurationInMinutes').val(),
        //         selectedServiceTypeNames: selectedServiceTypeNames, // Changed to store the names
        //         serviceDurationInMinutes: $('#ServiceDurationInMinutes').val(),
        //         notes: $('#Notes').val(),
        //     };
        //     localStorage.setItem('sadhanaFormData' + userId, JSON.stringify(formData));
        // }


        // Attach event listeners
      //  $('#Date, #MorningRounds, #DayRounds, #EveningRounds, #ReadingTitle, #ReadingDurationInMinutes, #HearingTitle, #HearingDurationInMinutes, #serviceTypesDropdown, #ServiceDurationInMinutes, #Notes').change(saveFormData);


        $(document).ready(function () {
            $('.service-type-checkbox').change(function () {
                updateSelectedServiceTypes();
              //  saveFormData();
            });

            // Trigger the update function on initial load
            updateSelectedServiceTypes();

            var userId = @User.FindFirstValue(ClaimTypes.NameIdentifier);
            var returningFromServiceTypes = localStorage.getItem('returningFromServiceTypes');

            // if (returningFromServiceTypes === 'true') {
            //     var savedData = localStorage.getItem('sadhanaFormData' + userId);
            //     if (savedData) {
            //         var formData = JSON.parse(savedData);
            //         var savedDate = new Date(formData.date);
            //         var currentDate = new Date();
            //         if (savedDate.setHours(0, 0, 0, 0) === currentDate.setHours(0, 0, 0, 0)) {
            //             $('#Date').val(formData.date);
            //         }
            //         $('#MorningRounds').val(formData.morningRounds);
            //         $('#DayRounds').val(formData.dayRounds);
            //         $('#EveningRounds').val(formData.eveningRounds);
            //         $('#ReadingTitle').val(formData.readingTitle);
            //         $('#ReadingDurationInMinutes').val(formData.readingDurationInMinutes);
            //         $('#HearingTitle').val(formData.hearingTitle);
            //         $('#HearingDurationInMinutes').val(formData.hearingDurationInMinutes);

            //         // Handle multi-select service types
            //         if (formData.selectedServiceTypeNames) {
            //             var serviceNames = formData.selectedServiceTypeNames.split(';');
            //             $('#serviceTypesDropdown').val(serviceNames);
            //             $('#serviceTypesDropdown').trigger('change');
            //         }

            //         $('#ServiceDurationInMinutes').val(formData.serviceDurationInMinutes);
            //         $('#Notes').val(formData.notes);
            //     }
            //     localStorage.removeItem('returningFromServiceTypes');
            // } else {
            //     localStorage.removeItem('sadhanaFormData' + userId);
            // }
        });

    </script>

    <script>
        $(document).ready(function () {

            // Autocomplete for Reading Title

            $("#ReadingTitle").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetReadingTitles", "Sadhana")',
                        data: { term: request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 1, // Start after typing 2 characters
                select: function (event, ui) {
                    // Set the input field's value to the selected item's value
                    $(this).val(ui.item.value);

                    // Additional actions
                    // For example, if you want to trigger a form submission or update another part of your UI based on the selection
                    // $('#someOtherElement').val(ui.item.someOtherProperty);

                    // Prevent the widget from automatically inserting the value into the input field
                    return false;
                }
            });

            // Autocomplete for Hearing Title
            $("#HearingTitle").autocomplete({
                source: '@Url.Action("GetHearingTitles", "Sadhana")', 
                minLength: 1,
                select: function (event, ui) {
                    $(this).val(ui.item.value);
                    return false;
                }
            });

            // Autocomplete for CustomServiceTypeInput
            $("#CustomServiceTypeInput").autocomplete({
                source: '@Url.Action("GetCustomServiceTypes", "Sadhana")',
                minLength: 1,
                select: function (event, ui) {
                    $(this).val(ui.item.value);
                    return false;
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#infoIconNotes').click(function () {
                $('#notesInfoText').toggle();
            });

            $('#infoIconManageServices').click(function () {
                $('#notesManageServices').toggle();
            });
        });
    </script>

}

