@model IEnumerable<ChantingRecord>

@{
    ViewData["Title"] = "ChantingHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Sadhana History</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Morning Rounds</th>
                <th>Day Rounds</th>
                <th>Evening Rounds</th>
                <th>Reading Duration</th>
                <th>Hearing Duration</th>
                <th>Service Duration</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Date.ToShortDateString()</td>
                    <td>@record.MorningRounds</td>
                    <td>@record.DayRounds</td>
                    <td>@record.EveningRounds</td>
                    <td>@record.ReadingDurationInMinutes</td>
                    <td>@record.HearingDurationInMinutes</td>
                    <td>@record.ServiceDurationInMinutes</td>
                    <td>@record.TotalScore</td>
                </tr>
            }
        </tbody>
        <a asp-action="RecordSadhana" class="btn btn-primary">Record Here</a>
    </table>
}
else
{
    <div class="alert alert-info">
        <p>No Sadhana records found. Start recording your chanting, hearing/reading and services now.</p>
        <a asp-action="RecordSadhana" class="btn btn-primary">Record Here</a>
    </div>
}
